<div class="game">
  <h1><a href="#">Create Game</a></h1>

  <h2>Open Games</h2>
  <% @games.each do |game| %>
    <% if game.users.count < 2 %>
    <h4><a href="/game/<% game.id %>">Game <%= game.id %></a></h4>
    <% end %>    

  <% end %>

</div>
